carla==0.9.15
dearpygui==1.10.1
easydict==1.11
langchain==0.1.0
langchain_community==0.0.11
langchain_core==0.1.9
lxml==5.0.0
matplotlib==3.7.4
numpy==1.24.4
openai==1.7.1
opencv_python==4.9.0.80
Pillow==10.2.0
pynput==1.7.6
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
rich==13.7.0
sumolib==1.19.0
traci==1.19.0
